/*reset browser*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*dark mode or default mode info*/
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/sun.svg);
}

/*light mode info*/
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/moonstars.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh; /*bg wont be white in low resolutions*/
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  /*info about text only worked when i put "body *"*/
}

#container {
  width: 100%;
  max-width: 588px;
  /*height: 712px; no need to use because the page will adapt to the height of the content*/
  margin: auto; /*auto doesnt apply to top and bottom margins*/
  /*margin divides the free space in the y axys and centers the content*/
  margin-top: 56px;
  /* margin: 56px auto 0px; another way to write, if only one value it will apply for all sides, if two values apply first in top and then in both sides, if four values apply in clockwise*/
  padding: 0 24px;
}

#profile {
  padding: 24px;
}

#profile img {
  width: 112px;

  display: block;
  margin: auto; /*margin only worked because i wrote display block, so the codes understand that the content will fill the whole block and centralizes, "img" is inline by default so it cant centralizes*/
}
#profile p {
  font-weight: 500;
  font-size: 16px; /*default font size in browser, no need to write*/
  line-height: 24px;
  margin-top: 8px;
  text-align: center;
}

#switch {
  display: table;
  justify-content: center;
  align-items: center;
  position: relative; /*makes everything that is absolute in the children to behave inside the relatives rule*/
  margin: 4px auto; /*auto to align elements in the center*/
}
#switch button {
  width: 32px;
  height: 32px;
  background: white no-repeat center;
  border-radius: 50%; /*perfect circle*/
  border: none;
  background-image: var(--switch-bg-url);
  position: absolute;
  right: 0;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  animation: slide-back 0.4s forwards;
}
#switch button:hover {
  outline: 8px solid var(--highlight-color);
}
#switch span {
  display: block;
  height: 24px;
  width: 64px;
  border-radius: 9999px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.light #switch button {
  animation: slide 0.4s forwards; /*so the animation wont reset from beginning*/
}

#toggle {
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px; /*rounds the border*/
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  /*display: block;
  text-align: center; (worked too)*/
  align-items: center; /*need to have a height in the box to align in the middle of y axys*/
  padding: 16px 24px;
  font-weight: 500; /*above 400 is bold*/
  text-decoration: none; /*takes out the underline*/
  transition: background 0.3s;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
}

#toggle:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px; /*rounds the border*/
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  /*display: block;
  text-align: center; (worked too)*/
  align-items: center; /*need to have a height in the box to align in the middle of y axys*/
  padding: 16px 24px;
  font-weight: 500; /*above 400 is bold*/
  text-decoration: none; /*takes out the underline*/
  transition: background 0.3s;
}
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#media {
  padding: 24px;
  display: flex; /*allows to apply gap*/
  justify-content: center;
}
#media a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.3s;
}
ion-icon {
  width: 24px;
  height: 24px;
}
#media a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}
/*rule that changes bg if the device width is more than 700px*/
/*
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-light.jpg);
  }
}*/

/*animations*/
@keyframes slide {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}

#third {
  text-align: center;
  line-height: 1.5;
}

.please {
  font-weight: 600;
}

.title {
  font-size: 100%;
}
