* {
  margin: 0;
  padding: 0; /*serve para resetar o padrão do navegador*/
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moonstars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/sun.svg);
}
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  width: 100%;
  max-width: 588px;
  /* height: 712px; nao precisa colocar a altura pois ela vai se adequando ao tamanho do conteúdo*/

  /*margin, divide o espaço do lado da caixa e joga pro outro lado, fazendo ela centralizar*/
  margin: auto; /*a regra do css nao aplica as margens para cima e para baixo**/
  margin-top: 56px;
  /* margin: 56px auto 0px; outra forma de escrever
  se for so uma variável ele aplica a todos os lados, se for duas ele aplica primeiro em cima depois nas laterais, se for quatro é em sentido horário.*/
  padding: 0 24px;
}
#profile {
  padding: 24px;
}

#profile img {
  width: 112px;
  display: block;
  margin: auto; /*margin so funcionou pq coloquei display block, assim o codigo interpreta q o conteudo vai ocupar todo o bloco e centraliza, o img é naturalmente inline entao ele nao consegue centralizar.*/
}
#profile p {
  font-weight: 500;
  font-size: 16px; /*nao precisa colocar pq os navegadores ja tem esse tamanho de fonte por padrão*/
  line-height: 24px;
  margin-top: 8px;
  text-align: center;
}

#switch {
  display: table;
  justify-content: center;
  align-items: center;
  position: relative; /*faz com que qualquer coisa q esteja absoluto nos children, seja relativo as bordas determinadas em cima*/
  margin: 4px auto; /*auto usado para alinhar os elementos ao meio*/
}

#switch button {
  width: 32px;
  height: 32px;
  background: white no-repeat center;
  border-radius: 50%;
  border: none;
  background-image: var(--switch-bg-url);
  position: absolute;
  right: 0;
  z-index: 1;
  top: 50%; /*pra colocar o botao bem no meio do track*/
  transform: translateY(-50%);
  animation: slide-back 0.4s forwards;
}
#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  height: 24px;
  width: 64px;
  border-radius: 9999px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.light #switch button {
  animation: slide 0.4s forwards; /*pra animacao nao voltar pro inicio*/
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px; /*arredondar borda*/
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  /*  display: block;
  text-align: center; (mesma coisa)*/
  align-items: center; /*precisa ter uma altura de box pra alinhar ao meio no eixo y*/
  padding: 16px 24px;
  font-weight: 500; /*acima de 400 é bold*/
  text-decoration: none;
  transition: background 0.3s;
}
/*pseudo-selector o efeito de passar mouse em cima*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#media {
  padding: 24px;
  display: flex; /*é o q habilita o gap*/
  justify-content: center;
}

#media a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%; /*bolinha perfeita*/
  transition: background 0.3s;
}
ion-icon {
  width: 24px;
  height: 24px;
}

#media a:hover {
  background: var(--highlight-color);
}
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
/*regra q muda o background de acordo com o  tamanho*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-light.jpg);
  }
}
/*fazendo animacoes**/
@keyframes slide {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}
